.vs/KlerosWebApi/xs/UserPrefs.xml
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
obj/Debug/KlerosWebApi.Resources.resources
obj/Debug/KlerosWebApi.vbproj.CoreCompileInputs.cache
obj/Debug/KlerosWebApi.vbproj.FileListAbsolute.txt
obj/Debug/KlerosWebApi.vbproj.GenerateResource.cache
